chess_aimlab/[Ll]ibrary/
chess_aimlab/[Tt]emp/
chess_aimlab/[Oo]bj/
chess_aimlab/[Bb]uild/
chess_aimlab/[Bb]uilds/
chess_aimlab/[Ll]ogs/
chess_aimlab/[Uu]ser[Ss]ettings/
chess_aimlab/[Mm]emoryCaptures/
chess_aimlab/[Rr]ecordings/
chess_aimlab/.vs/
chess_aimlab/.gradle/
chess_aimlab/ExportedObj/
chess_aimlab/.consulo/
chess_aimlab/*.csproj
chess_aimlab/*.sln
chess_aimlab/*.tmp
chess_aimlab/*.user
chess_aimlab/*.userprefs
chess_aimlab/*.pidb
chess_aimlab/*.booproj
chess_aimlab/sysinfo.txt
chess_aimlab/*.apk
chess_aimlab/*.aab
chess_aimlab/*.unitypackage
chess_aimlab/*.app